{% macro statediv() %}
<div class="form-group row">
    <label for="state" class="col-sm-4 form-control-label">State:</label>
    <div class="col-sm-8">
        <select name="state" required
                class="form-control" id="AssetFormState">
            <option value="STOCK">Stock</option>
            <option value="ASSIGNED">Assigned</option>
            <option value="DISPOSED">Disposed</option>
        </select>
    </div>
</div>
{% endmacro %}

{% macro renewal_date() %}
<div class="form-group row">
    <label for="date_renewal" class="col-sm-4 form-control-label">Date of Renewal:</label>
    <div class="col-sm-8">
        <input data-provide="datepicker" type="text" class="form-control" name="date_renewal"
               data-date-format="dd/mm/yyyy"
               required
               id="AssetFormDateRenewal"
               placeholder="Date of renewal">
    </div>
</div>
{% endmacro %}

{% macro issue_date() %}
<div class="form-group row">
    <label for="date_issued" class="col-sm-4 form-control-label">Date Issued:</label>
    <div class="col-sm-8 date">
        <input data-provide="datepicker" type='text' class="form-control" name="date_issued"
               data-date-format="dd/mm/yyyy"
               data-date-todaybutton="true"
               required
               id="AssetFormDateIssued"
               placeholder="Date Issued">
    </div>
</div>
{% endmacro %}

{% macro asset_kind() %}
<div class="form-group row">
    <label for="asset_kind" class="col-sm-4 form-control-label">Asset Kind:</label>
    <div class="col-sm-8 date">
        <select name="kind" class="form-control" id="AssetFormKind" required>
            <option value="LAPTOP">Laptop</option>
            <option value="DESKTOP">Desktop</option>
            <option value="DISPLAY">Display</option>
            <option value="PHONE">Phone</option>
            <option value="PRINTER">Printer</option>
            <option value="TABLET">Tablet</option>
        </select>
    </div>
</div>
{% endmacro %}

{% macro asset_cost() %}
<div class="form-group row">
    <div class="col-sm-4">
        <label for="cost" class="col-sm-4 form-control-label">Cost:</label>

            <input type="number" class="form-control" name="cost" placeholder="Cost"  id="AssetFormCost">

            <label for="currency" class="col-sm-4 form-control-label">Currency:</label>
            <select name="currency" class="form-control" id="AssetFormCurrency" id="AssetFormCurrency">
                <option value="USD">USD</option>
                <option value="SEK">SEK</option>
                <option value="CAD">CAD</option>
                <option value="GBP">GBP</option>
                <option value="NZD">NZD</option>
            </select>

    </div>
</div>
{% endmacro %}
